In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

## Task, step 3

In [5]:
# Importing orders_products_combined.pkl

orders_products_combined_filepath = '/Users/daphne/Downloads/Instacart Basket Analysis/02 Data/orders_products_combined.pkl'

In [6]:
# Importing orders_products_combined.pkl

orders_products_combined = pd.read_pickle(orders_products_combined_filepath)

In [9]:
# Importing df_prods_checked.csv

df_prods_checked_filepath = '/Users/daphne/Downloads/Instacart Basket Analysis/02 Data/Prepared Data/df_prods_checked.csv'

In [11]:
# Importing df_prods_checked.csv

df_prods = pd.read_csv(df_prods_checked_filepath)

## Task, step 4

In [12]:
# checking the shape of dataframe

orders_products_combined.shape

(32434489, 11)

## Task, step 5

In [39]:
# Check columns of orders_products_combined

orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [40]:
# Check columns of df_prods

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [41]:
# Check shape of df_prods

df_prods.shape

(49672, 5)

In [42]:
# Removing _merge column from orders_products_combined

order_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [43]:
# Merge DataFrames with a temporary indicator column name (due to errors)

df_ords_prods_merged = orders_products_combined.merge(df_prods, on='product_id', suffixes=('', '_merged_indicator'))

In [44]:
# Rename the indicator column to a unique name

df_ords_prods_merged.rename(columns={'_merged_indicator': 'my_indicator'}, inplace=True)

In [45]:
# Check new data frame

df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

## Task, step 6

In [46]:
# Comfirming merge results

df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [47]:
df_ords_prods_merged.shape

(32404859, 15)

## Task, step 7

Exporting df_ords_prods_merged

In [48]:
# Defining filepath

file_path = "/Users/daphne/Downloads/Instacart Basket Analysis/02 Data/Prepared Data.pkl"

In [49]:
# Export dataframe

df_ords_prods_merged.to_pickle(file_path)

In [50]:
# Comfirm export

print(f"DataFrame exported to '{file_path}' successfully.")

DataFrame exported to '/Users/daphne/Downloads/Instacart Basket Analysis/02 Data/Prepared Data.pkl' successfully.